.awning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(173, 216, 230, 0.8), rgba(70, 130, 180, 0.8));
  padding: 20px;
}

.awning {
  width: 80vw;
  height: 15vh;
  background: repeating-linear-gradient(90deg, #fff, #fff 10px, #e74c3c 10px, #e74c3c 20px);
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 14px 6px rgba(0, 0, 0, 0.1);
}

.title {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.resources-section {
  width: 100%;
  padding: 40px 0;
}

.resources-title {
  font-size: 1.8rem;
  text-align: center;
}

.card {
  max-width: 350px;
  /* Set a max-width to prevent stretching */
  margin: 0 auto;
  /* Center the card within its column */
}

.card-img {
  width: 100px;
  /* Set a standard size for images */
  height: 100px;
  object-fit: contain;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}